body {
  font-family: Terminus;
  text-shadow: 2px 2px 4px #000000;
  color: rgba(255, 255, 255, 0.8);
}

.radio-background-image {
  background-image: url("images/hinamizawa.png");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: fixed;
  display: block;
  height: 2160px;
  width: 3840px;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  z-index: 1;
}
.blur {
  display: inline-flex;
  z-index: 0;
  box-shadow: -15px 10px 10px 0 rgba(0, 0, 0, 0.5);
  transform: scale(1.3);
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/opacity/see-through */
}

.radio-player {
  position: fixed;
  left: 50%;
  top: 50%;
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 200;
}
.button {
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  border-radius: 100%;
}
.play-pause-button {
  width: 70px;
  height: 70px;
  font-size: 25px;
  margin-right: 20px;
  margin-left: 10px;
}
.mute-button {
  width: 30px;
  height: 30px;
  margin-right: 12px;
}
.img-container {
  width: 250px;
  height: 250px;
  display: flex;
  padding-left: 2em;
}

.img-container.play img {
  display: flex;
  animation: rotate 1s linear infinite;
  animation-play-state: running;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.player-controls {
  align-items: center;
}

.currently-playing {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
}
.volume-controls {
  display: flex;
  align-items: center;
}
.currently-playing-label {
  font-size: 12px;
  font-weight: 300;
}
.currently-playing-title {
  font-size: 22px;
  font-weight: 600;
}
.volume {
  -webkit-appearance: none;
  appearance: none;
  border: 1px solid #000;
  border-radius: 50px;
  overflow: hidden; /* This will help with styling the thumb */
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;

  height: 15px;
  width: 15px;

  cursor: ew-resize;
  background: #eeeeee;
  box-shadow: -400px 0 0 390px #eeeeee;
  border-radius: 50%;
}
input[type="range"]::-moz-range-thumb {
  /* same as above */
}
input[type="range"]::-ms-thumb {
  /* same as above */
}
input[type="range"]:focus {
  border-radius: 50px;
  box-shadow: 0 0 15px -4px #eeeeee;
}
